In [16]:
import sqlite3
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [17]:
class Futball():
    
    def __init__(self, database, year):
        self.database = database
        self.year = year
    
    def total_goal(self):
        conn = sqlite3.Connection(self.database)
        c = conn.cursor()

        c.execute('''select m.HomeTeam as Team, Sum(FTHG) as Total_Home_Goal
                    from Matches m
                    where Season = ''' + self.year +
                    ''' 
                    group by m.HomeTeam
                    order by HomeTeam
                    ''')
        df_home_goals = pd.DataFrame(c.fetchall())
        df_home_goals.columns = [x[0] for x in c.description]

        c.execute('''select m.AwayTeam as Team, Sum(FTAG) as Total_Away_Goal
                    from Matches m
                    where Season = ''' + self.year +
                    '''
                    group by m.AwayTeam
                    order by m.AwayTeam
                    ''')
        df_away_goals = pd.DataFrame(c.fetchall())
        df_away_goals.columns = [x[0] for x in c.description]

        df_away_goals['Total']= df_home_goals['Total_Home_Goal']+df_away_goals['Total_Away_Goal']
        df_away_goals.drop('Total_Away_Goal', axis =1, inplace = True)
        
        return df_away_goals
    
    def total_win(self):
        conn = sqlite3.Connection(self.database)
        c = conn.cursor()
        
        c.execute('''select m.HomeTeam as Team, count(FTR) as HomeWin
            from Matches m
            where Season = ''' + self.year +
                    ''' and FTR = 'H'
            group by Team
            order by Team
            ''')
        df_home_win = pd.DataFrame(c.fetchall())
        df_home_win.columns = [x[0] for x in c.description]
        
        
        c.execute('''select m.AwayTeam as Team, count(FTR) as AwayWin
            from Matches m
            where Season = ''' + self.year +
                    ''' and FTR = 'A'
            group by Team
            order by Team
            ''')
        df_away_win = pd.DataFrame(c.fetchall())
        df_away_win.columns = [x[0] for x in c.description]
        
        df_away_win['Total Win']= df_home_win['HomeWin']+df_away_win['AwayWin']
        df_away_win.drop('AwayWin', axis =1, inplace = True)
        return df_away_win
    
    def total_lose(self):
        conn = sqlite3.Connection(self.database)
        c = conn.cursor()
        
        c.execute('''select m.HomeTeam as Team, count(FTR) as HomeLose
            from Matches m
            where Season = ''' + self.year +
                    ''' and FTR = 'A'
            group by Team
            order by Team
            ''')
        df_home_lose = pd.DataFrame(c.fetchall())
        df_home_lose.columns = [x[0] for x in c.description]
        
        
        c.execute('''select m.AwayTeam as Team, count(FTR) as AwayLose
            from Matches m
            where Season = ''' + self.year +
                    ''' and FTR = 'H'
            group by Team
            order by Team
            ''')
        df_away_lose = pd.DataFrame(c.fetchall())
        df_away_lose.columns = [x[0] for x in c.description]
        listt = []
        for i in df_away_lose['Team']:
            if i in list(df_home_lose['Team']):
                continue
            else:
                listt.append([i,0])
        dff = pd.DataFrame(listt,columns = ['Team', 'HomeLose'])
        df_home_lose = df_home_lose.append(dff)
        df_home_lose.sort_values(by=['Team'])
        list_homelose = list(df_home_lose['HomeLose'])
        for i in range(len(df_away_lose)):
            df_away_lose['AwayLose'][i]+=list_homelose[i]
        df_away_lose.rename(index=str, columns={"AwayLose": "Total Loss"}, inplace=True)
        return df_away_lose

In [18]:
g1 = Futball('database.sqlite', '2011')

In [19]:
g1.total_lose()

                  Team  Total Loss
0               Aachen          15
1              Arsenal          10
2          Aston Villa          14
3             Augsburg          12
4        Bayern Munich           7
5            Blackburn          23
6               Bochum          17
7               Bolton          22
8         Braunschweig           9
9              Chelsea          10
10             Cottbus          15
11            Dortmund           3
12             Dresden          13
13            Duisburg          15
14       Ein Frankfurt           6
15      Erzgebirge Aue          15
16             Everton          12
17             FC Koln          20
18  Fortuna Dusseldorf           4
19       Frankfurt FSV          13
20            Freiburg          14
21              Fulham          14
22      Greuther Furth           4
23             Hamburg          14
24            Hannover          17
25       Hansa Rostock          20
26              Hertha          11
27          Hoffenheim          12
28          Ingolstadt          20
29      Kaiserslautern          15
30           Karlsruhe          18
31          Leverkusen           9
32           Liverpool          11
33          M'gladbach          14
34               Mainz           8
35            Man City          10
36          Man United           6
37         Munich 1860          12
38           Newcastle          15
39             Norwich          11
40            Nurnberg          16
41           Paderborn           8
42                 QPR          16
43          Schalke 04          11
44            St Pauli          10
45               Stoke          16
46           Stuttgart          11
47          Sunderland          13
48             Swansea          15
49           Tottenham          11
50        Union Berlin          20
51       Werder Bremen          16
52           West Brom          12
53               Wigan          23
54           Wolfsburg          11
55              Wolves          10

In [246]:
c.execute('''select m.HomeTeam as Team, count(FTR) as HomeLose
            from Matches m
            where Season = '2011' and FTR = 'A'
            group by Team
            order by Team
            ''')
df_home_lose = pd.DataFrame(c.fetchall())
df_home_lose.columns = [x[0] for x in c.description]


c.execute('''select m.AwayTeam as Team, count(FTR) as AwayLose
    from Matches m
    where Season = '2011' and FTR = 'H'
    group by Team
    order by Team
    ''')
df_away_lose = pd.DataFrame(c.fetchall())
df_away_lose.columns = [x[0] for x in c.description]

In [247]:
listt = []
for i in df_away_lose['Team']:
    if i in list(df_home_lose['Team']):
        continue
    else:
        listt.append([i,0])

In [248]:
dff = pd.DataFrame(listt,columns = ['Team', 'HomeLose'])
df_home_lose = df_home_lose.append(dff)

                  Team  HomeLose
0               Aachen         7
1              Arsenal         3
2          Aston Villa         8
3             Augsburg         4
4        Bayern Munich         2
5            Blackburn        12
6               Bochum         7
7               Bolton        11
8         Braunschweig         3
9              Chelsea         4
10             Cottbus         5
11            Dortmund         1
12             Dresden         4
13            Duisburg         7
14       Ein Frankfurt         1
15      Erzgebirge Aue         5
16             Everton         6
17             FC Koln         8
18  Fortuna Dusseldorf         1
19       Frankfurt FSV         4
20            Freiburg         5
21              Fulham         4
22      Greuther Furth         2
23             Hamburg         7
24       Hansa Rostock         7
25              Hertha        10
26          Hoffenheim         4
27          Ingolstadt         3
28      Kaiserslautern        10
29           Karlsruhe         6
30          Leverkusen         5
31           Liverpool         4
32          M'gladbach         1
33               Mainz         7
34          Man United         2
35         Munich 1860         5
36           Newcastle         3
37             Norwich         6
38            Nurnberg         7
39           Paderborn         2
40                 QPR         7
41          Schalke 04         3
42            St Pauli         2
43               Stoke         4
44           Stuttgart         4
45          Sunderland         5
46             Swansea         4
47           Tottenham         3
48        Union Berlin         4
49       Werder Bremen         5
50           West Brom        10
51               Wigan         7
52           Wolfsburg         5
53              Wolves        13
0             Hannover         0
1             Man City         0

In [253]:
df_home_lose.sort_values(by=['Team']).reset_index().drop('index', axis = 1)

                  Team  HomeLose
0               Aachen         7
1              Arsenal         3
2          Aston Villa         8
3             Augsburg         4
4        Bayern Munich         2
5            Blackburn        12
6               Bochum         7
7               Bolton        11
8         Braunschweig         3
9              Chelsea         4
10             Cottbus         5
11            Dortmund         1
12             Dresden         4
13            Duisburg         7
14       Ein Frankfurt         1
15      Erzgebirge Aue         5
16             Everton         6
17             FC Koln         8
18  Fortuna Dusseldorf         1
19       Frankfurt FSV         4
20            Freiburg         5
21              Fulham         4
22      Greuther Furth         2
23             Hamburg         7
24            Hannover         0
25       Hansa Rostock         7
26              Hertha        10
27          Hoffenheim         4
28          Ingolstadt         3
29      Kaiserslautern        10
30           Karlsruhe         6
31          Leverkusen         5
32           Liverpool         4
33          M'gladbach         1
34               Mainz         7
35            Man City         0
36          Man United         2
37         Munich 1860         5
38           Newcastle         3
39             Norwich         6
40            Nurnberg         7
41           Paderborn         2
42                 QPR         7
43          Schalke 04         3
44            St Pauli         2
45               Stoke         4
46           Stuttgart         4
47          Sunderland         5
48             Swansea         4
49           Tottenham         3
50        Union Berlin         4
51       Werder Bremen         5
52           West Brom        10
53               Wigan         7
54           Wolfsburg         5
55              Wolves        13

In [257]:
list_homelose = list(df_home_lose['HomeLose'])

In [261]:
for i in range(len(df_away_lose)):
    df_away_lose['AwayLose'][i]+=list_homelose[i]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [263]:
df_away_lose.rename(index=str, columns={"AwayLose": "Total Loss"})

                  Team  Total Loss
0               Aachen          15
1              Arsenal          10
2          Aston Villa          14
3             Augsburg          12
4        Bayern Munich           7
5            Blackburn          23
6               Bochum          17
7               Bolton          22
8         Braunschweig           9
9              Chelsea          10
10             Cottbus          15
11            Dortmund           3
12             Dresden          13
13            Duisburg          15
14       Ein Frankfurt           6
15      Erzgebirge Aue          15
16             Everton          12
17             FC Koln          20
18  Fortuna Dusseldorf           4
19       Frankfurt FSV          13
20            Freiburg          14
21              Fulham          14
22      Greuther Furth           4
23             Hamburg          14
24            Hannover          17
25       Hansa Rostock          20
26              Hertha          11
27          Hoffenheim          12
28          Ingolstadt          20
29      Kaiserslautern          15
30           Karlsruhe          18
31          Leverkusen           9
32           Liverpool          11
33          M'gladbach          14
34               Mainz           8
35            Man City          10
36          Man United           6
37         Munich 1860          12
38           Newcastle          15
39             Norwich          11
40            Nurnberg          16
41           Paderborn           8
42                 QPR          16
43          Schalke 04          11
44            St Pauli          10
45               Stoke          16
46           Stuttgart          11
47          Sunderland          13
48             Swansea          15
49           Tottenham          11
50        Union Berlin          20
51       Werder Bremen          16
52           West Brom          12
53               Wigan          23
54           Wolfsburg          11
55              Wolves          10

In [172]:
g1 = Futball('database.sqlite', '2011')

In [148]:
g1.total_win()

                  Team  Total Win
0               Aachen          6
1              Arsenal         21
2          Aston Villa          7
3             Augsburg          8
4        Bayern Munich         23
5            Blackburn          8
6               Bochum         10
7               Bolton         10
8         Braunschweig         10
9              Chelsea         18
10             Cottbus          8
11            Dortmund         25
12             Dresden         12
13            Duisburg         10
14       Ein Frankfurt         20
15      Erzgebirge Aue          8
16             Everton         15
17             FC Koln          8
18  Fortuna Dusseldorf         16
19       Frankfurt FSV          7
20            Freiburg         10
21              Fulham         14
22      Greuther Furth         20
23             Hamburg          8
24            Hannover         12
25       Hansa Rostock          5
26              Hertha          7
27          Hoffenheim         10
28          Ingolstadt          8
29      Kaiserslautern          4
30           Karlsruhe          9
31          Leverkusen         15
32           Liverpool         14
33          M'gladbach         17
34               Mainz          9
35            Man City         28
36          Man United         28
37         Munich 1860         17
38           Newcastle         19
39             Norwich         12
40            Nurnberg         12
41           Paderborn         17
42                 QPR         10
43          Schalke 04         20
44            St Pauli         18
45               Stoke         11
46           Stuttgart         15
47          Sunderland         11
48             Swansea         12
49           Tottenham         20
50        Union Berlin         14
51       Werder Bremen         11
52           West Brom         13
53               Wigan         11
54           Wolfsburg         13
55              Wolves          5

In [129]:
c.execute('''select m.HomeTeam as Team, count(FTR) as HomeWin
            from Matches m
            where Season = "2011" and FTR = 'H'
            group by Team
            order by Team
            ''')
df_home_win = pd.DataFrame(c.fetchall())
df_home_win.columns = [x[0] for x in c.description]
df_home_win

                  Team  HomeWin
0               Aachen        4
1              Arsenal       12
2          Aston Villa        4
3             Augsburg        6
4        Bayern Munich       14
5            Blackburn        6
6               Bochum        7
7               Bolton        4
8         Braunschweig        6
9              Chelsea       12
10             Cottbus        4
11            Dortmund       14
12             Dresden        8
13            Duisburg        8
14       Ein Frankfurt       11
15      Erzgebirge Aue        5
16             Everton       10
17             FC Koln        5
18  Fortuna Dusseldorf       11
19       Frankfurt FSV        3
20            Freiburg        6
21              Fulham       10
22      Greuther Furth       14
23             Hamburg        3
24            Hannover       10
25       Hansa Rostock        3
26              Hertha        4
27          Hoffenheim        4
28          Ingolstadt        6
29      Kaiserslautern        2
30           Karlsruhe        8
31          Leverkusen        8
32           Liverpool        6
33          M'gladbach        9
34               Mainz        7
35            Man City       18
36          Man United       15
37         Munich 1860       10
38           Newcastle       11
39             Norwich        7
40            Nurnberg        6
41           Paderborn        9
42                 QPR        7
43          Schalke 04       13
44            St Pauli       12
45               Stoke        7
46           Stuttgart       10
47          Sunderland        7
48             Swansea        8
49           Tottenham       13
50        Union Berlin       11
51       Werder Bremen        8
52           West Brom        6
53               Wigan        5
54           Wolfsburg       10
55              Wolves        3

In [128]:
c.execute('''select m.AwayTeam as Team, count(FTR) as AwayWin
            from Matches m
            where Season = "2011" and FTR = 'A'
            group by Team
            order by Team
            ''')
df_away_win = pd.DataFrame(c.fetchall())
df_away_win.columns = [x[0] for x in c.description]
df_away_win

                  Team  AwayWin
0               Aachen        2
1              Arsenal        9
2          Aston Villa        3
3             Augsburg        2
4        Bayern Munich        9
5            Blackburn        2
6               Bochum        3
7               Bolton        6
8         Braunschweig        4
9              Chelsea        6
10             Cottbus        4
11            Dortmund       11
12             Dresden        4
13            Duisburg        2
14       Ein Frankfurt        9
15      Erzgebirge Aue        3
16             Everton        5
17             FC Koln        3
18  Fortuna Dusseldorf        5
19       Frankfurt FSV        4
20            Freiburg        4
21              Fulham        4
22      Greuther Furth        6
23             Hamburg        5
24            Hannover        2
25       Hansa Rostock        2
26              Hertha        3
27          Hoffenheim        6
28          Ingolstadt        2
29      Kaiserslautern        2
30           Karlsruhe        1
31          Leverkusen        7
32           Liverpool        8
33          M'gladbach        8
34               Mainz        2
35            Man City       10
36          Man United       13
37         Munich 1860        7
38           Newcastle        8
39             Norwich        5
40            Nurnberg        6
41           Paderborn        8
42                 QPR        3
43          Schalke 04        7
44            St Pauli        6
45               Stoke        4
46           Stuttgart        5
47          Sunderland        4
48             Swansea        4
49           Tottenham        7
50        Union Berlin        3
51       Werder Bremen        3
52           West Brom        7
53               Wigan        6
54           Wolfsburg        3
55              Wolves        2

In [149]:
df_away_win['Total']=df_away_win['AwayWin']+df_home_win['HomeWin']

In [151]:
df_away_win.drop('AwayWin', axis=1)

                  Team  Total
0               Aachen      6
1              Arsenal     21
2          Aston Villa      7
3             Augsburg      8
4        Bayern Munich     23
5            Blackburn      8
6               Bochum     10
7               Bolton     10
8         Braunschweig     10
9              Chelsea     18
10             Cottbus      8
11            Dortmund     25
12             Dresden     12
13            Duisburg     10
14       Ein Frankfurt     20
15      Erzgebirge Aue      8
16             Everton     15
17             FC Koln      8
18  Fortuna Dusseldorf     16
19       Frankfurt FSV      7
20            Freiburg     10
21              Fulham     14
22      Greuther Furth     20
23             Hamburg      8
24            Hannover     12
25       Hansa Rostock      5
26              Hertha      7
27          Hoffenheim     10
28          Ingolstadt      8
29      Kaiserslautern      4
30           Karlsruhe      9
31          Leverkusen     15
32           Liverpool     14
33          M'gladbach     17
34               Mainz      9
35            Man City     28
36          Man United     28
37         Munich 1860     17
38           Newcastle     19
39             Norwich     12
40            Nurnberg     12
41           Paderborn     17
42                 QPR     10
43          Schalke 04     20
44            St Pauli     18
45               Stoke     11
46           Stuttgart     15
47          Sunderland     11
48             Swansea     12
49           Tottenham     20
50        Union Berlin     14
51       Werder Bremen     11
52           West Brom     13
53               Wigan     11
54           Wolfsburg     13
55              Wolves      5