In [1]:
import pandas as pd
from dateutil import parser
import requests
import sqlite3
import datetime
import warnings
warnings.filterwarnings("ignore")

In [2]:
conn = sqlite3.connect('database.sqlite')
c = conn.cursor()

In [3]:
c.execute("""SELECT * FROM Matches;""")
matches = pd.DataFrame(c.fetchall())
matches.columns = [x[0] for x in c.description]

In [4]:
berlin_lat = '52.520008'
berlin_long = '13.404954'

In [5]:
api_key = '7101c14ab733bd8ed9e205263525841b'

In [6]:
class Weather():

    
    def __init__(self, dataframe, year, lat, long, DarkSky_API):
        self.dataframe = dataframe
        self.year = year
        self.lat = lat
        self.long = long
        self.DarkSky_API = DarkSky_API

    
    def get_rain(self):
        """Time is timestamp, everything must be a string. Returns a list of DarkSky
        information. If you've already run this before, you can comment out the API
        call and reference a local file instead to save on API calls. Otherwise comment
        out the read_csv line. Executed within the rainy_days function."""
    #     dark_sky = []
    #     for days in time:
    #         resp = requests.get('https://api.darksky.net/forecast/' + self.DarkSky_API + '/' + self.lat + ',' + self.long + ',' + days + '?exclude=flags,hourly,daily,alerts')
    #         dark_sky.append(resp.json()['currently'])
        dark_sky = pd.read_csv('weather.csv') # Comment out this line if you don't have the data already
        return dark_sky

    
    def rainy_days(self):
        gameDate = []

        for i in range(len(self.dataframe['Date'])):
            dt = parser.parse(self.dataframe['Date'][i])
            gameDate.append(dt)

        self.dataframe['gamedate'] = gameDate
        matches_year = matches[matches["Season"] == self.year].reset_index()
        dates = list(set(matches_year['gamedate']))

        timestamp = []
        for date in range(len(dates)):
            stamp = str(matches_year['gamedate'][date].timestamp())
            timestamp.append(stamp[:-2])

        the_rain = Weather(self.lat, self.long, 2011, timestamp, self.DarkSky_API)
            
        ds_df = pd.DataFrame(the_rain.get_rain())

        df_rain = pd.DataFrame(
            {'rainy': ds_df['icon'],
             'date': ds_df['time'],
            })

        for day in range(len(ds_df['time'])):
            ds_df['time'][day] = datetime.datetime.utcfromtimestamp(ds_df['time'][day]).strftime('%Y-%m-%d')

        rain = pd.DataFrame(columns=['date', 'raining'])

        rain['date'] = ds_df['time']

        for i in range(len(ds_df['precipType'])):
            if ds_df['precipType'][i] == 'rain':
                rain.raining[i] = True
            else:
                rain.raining[i] = False

        rain_year = []
        for i in range(len(matches_year['Date'])):
            if matches_year['Date'][i] in list(rain.date[rain['raining'] == True]):
                rain_year.append(True)
            else:
                rain_year.append(False)

        matches_year['rain'] = rain_year

        result = matches_year[['Match_ID','Date','AwayTeam', 'HomeTeam', 'FTR', 'rain']]

        return result

In [7]:
season = Weather(matches, 2011, berlin_lat, berlin_long, api_key)

In [8]:
rainy_wins = season.rainy_days()[season.rainy_days()['rain'] == True].reset_index()

In [9]:
rainy_wins

    index  Match_ID        Date        AwayTeam            HomeTeam FTR  rain
0       8      1100  2011-09-18   Bayern Munich          Schalke 04   A  True
1      18      1110  2011-12-17        Dortmund            Freiburg   A  True
2      26      1118  2011-09-18        Dortmund            Hannover   H  True
3      43      1135  2012-05-06         Dresden       Frankfurt FSV   D  True
4      66      1158  2012-05-06        Duisburg  Fortuna Dusseldorf   D  True
5      76      1168  2012-05-06   Ein Frankfurt           Karlsruhe   H  True
6     127      1219  2011-08-05         Hamburg            Dortmund   H  True
7     157      1249  2011-12-09       Karlsruhe            Duisburg   H  True
8     192      1284  2011-12-17        Nurnberg          Leverkusen   A  True
9     211      1303  2011-12-09      Schalke 04              Hertha   A  True
10    221      1313  2011-12-17       Stuttgart           Wolfsburg   H  True
11    254      1346  2011-12-17   Werder Bremen          Schalke 04   H  True
12    259      1351  2011-12-17          Bochum       Frankfurt FSV   A  True
13    264      1356  2012-05-06          Bochum      Erzgebirge Aue   H  True
14    295      1387  2011-12-09   Hansa Rostock           Paderborn   H  True
15    322      1414  2011-12-17          Hertha          Hoffenheim   D  True
16    349      1441  2011-12-17     Munich 1860           Karlsruhe   A  True
17    436      1528  2012-05-06  Greuther Furth       Hansa Rostock   D  True
18    437      1529  2011-09-18  Greuther Furth              Aachen   D  True
19    448      1540  2012-05-06          Aachen         Munich 1860   A  True
20    453      1545  2011-08-05          Aachen            St Pauli   H  True
21    460      1552  2012-05-06    Union Berlin             Cottbus   H  True
22    486      1578  2011-12-09    Braunschweig         Munich 1860   H  True
23    517      1609  2011-09-18       Paderborn              Bochum   A  True
24    518      1610  2012-05-06       Paderborn            St Pauli   H  True
25    521      1613  2011-08-05       Paderborn        Union Berlin   H  True
26    530      1622  2011-12-17        Augsburg             Hamburg   D  True
27    562      1654  2011-09-18   Frankfurt FSV         Munich 1860   H  True
28    591      1683  2012-05-06      Ingolstadt        Braunschweig   H  True
29    592      1684  2011-08-05      Ingolstadt  Fortuna Dusseldorf   H  True
30    657     44540  2011-09-18        Man City              Fulham   D  True
31    658     44541  2011-09-18         Chelsea          Man United   H  True
32    659     44542  2011-09-18           Stoke          Sunderland   H  True
33    660     44543  2011-09-18       Liverpool           Tottenham   H  True
34    761     44644  2011-12-17       West Brom           Blackburn   A  True
35    762     44645  2011-12-17         Norwich             Everton   D  True
36    763     44646  2011-12-17          Bolton              Fulham   H  True
37    764     44647  2011-12-17         Swansea           Newcastle   D  True
38    765     44648  2011-12-17         Chelsea               Wigan   D  True
39    766     44649  2011-12-17           Stoke              Wolves   A  True
40    973     44856  2012-05-06       Tottenham         Aston Villa   D  True
41    974     44857  2012-05-06       West Brom              Bolton   D  True
42    975     44858  2012-05-06      Sunderland              Fulham   H  True
43    976     44859  2012-05-06         Swansea          Man United   H  True
44    977     44860  2012-05-06        Man City           Newcastle   A  True
45    978     44861  2012-05-06           Stoke                 QPR   H  True
46    979     44862  2012-05-06         Everton              Wolves   D  True

# Wins in the Rain

In [10]:
class Winning_in_the_Rain():

    def __init__(self, dataframe):
        self.dataframe = dataframe

    def get_rain_wins(self):
        raining_wins = pd.concat([self.dataframe, pd.get_dummies(self.dataframe['FTR'])], axis = 1).reset_index()

        away_games = pd.DataFrame(
            {'away rain games': raining_wins['AwayTeam'].value_counts()    })
        home_games = pd.DataFrame(
            {'home rain games': raining_wins['HomeTeam'].value_counts()    })

        raining_wins['winner'] = 'tie game'

        for i in range(len(raining_wins['A'])):
            if raining_wins['A'][i] == 1:
                raining_wins['winner'][i] = raining_wins['AwayTeam'][i]
            if raining_wins['H'][i] == 1:
                raining_wins['winner'][i] = raining_wins['HomeTeam'][i]        

        total_wins = pd.DataFrame(
            {'wins': raining_wins['winner'].value_counts()
            })

        appearances = pd.concat([away_games, home_games, total_wins], axis = 1)
        appearances['appearances'] = 0
        appearances = appearances.fillna(0)

        for i in range(len(appearances['home rain games'])):
            appearances['appearances'][i] = appearances['home rain games'][i] + appearances['away rain games'][i]


        winning_rain_pct = []
        for i in range(len(appearances['home rain games'])):
            if appearances['appearances'][i] == 0:
                winning_rain_pct.append(0)
            else:
                winning_rain_pct.append(round(float(appearances['wins'][i]) / float(appearances['appearances'][i]), 2))

        appearances['winning_rain_pct'] = winning_rain_pct

        appearances = appearances.fillna('0').drop(['home rain games', 'away rain games'], axis=1)
        return appearances

season2011 = Winning_in_the_Rain(rainy_wins)
season2011.get_rain_wins()

                    wins  appearances  winning_rain_pct
Aachen               1.0            3              0.33
Aston Villa          0.0            1              0.00
Augsburg             0.0            1              0.00
Bayern Munich        1.0            1              1.00
Blackburn            0.0            1              0.00
Bochum               1.0            3              0.33
Bolton               0.0            2              0.00
Braunschweig         1.0            2              0.50
Chelsea              0.0            2              0.00
Cottbus              1.0            1              1.00
Dortmund             2.0            3              0.67
Dresden              0.0            1              0.00
Duisburg             1.0            2              0.50
Ein Frankfurt        0.0            1              0.00
Erzgebirge Aue       1.0            1              1.00
Everton              0.0            2              0.00
Fortuna Dusseldorf   1.0            2              0.50
Frankfurt FSV        0.0            3              0.00
Freiburg             0.0            1              0.00
Fulham               2.0            3              0.67
Greuther Furth       0.0            2              0.00
Hamburg              0.0            2              0.00
Hannover             1.0            1              1.00
Hansa Rostock        0.0            2              0.00
Hertha               0.0            2              0.00
Hoffenheim           0.0            1              0.00
Ingolstadt           0.0            2              0.00
Karlsruhe            1.0            3              0.33
Leverkusen           0.0            1              0.00
Liverpool            0.0            1              0.00
Man City             1.0            2              0.50
Man United           2.0            2              1.00
Munich 1860          3.0            4              0.75
Newcastle            0.0            2              0.00
Norwich              0.0            1              0.00
Nurnberg             1.0            1              1.00
Paderborn            2.0            4              0.50
QPR                  1.0            1              1.00
Schalke 04           2.0            3              0.67
St Pauli             2.0            2              1.00
Stoke                1.0            3              0.33
Stuttgart            0.0            1              0.00
Sunderland           1.0            2              0.50
Swansea              0.0            2              0.00
Tottenham            1.0            2              0.50
Union Berlin         1.0            2              0.50
Werder Bremen        0.0            1              0.00
West Brom            1.0            2              0.50
Wigan                0.0            1              0.00
Wolfsburg            1.0            1              1.00
Wolves               0.0            2              0.00
tie game            13.0            0              0.00